{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}List Mensalista{% endblock %}

{% block menu%}
  <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicos</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'core_pessoas' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'core_veiculos' %}">Veiculos</a>
            <a class="dropdown-item" href="{% url 'core_movimento_rotativo' %}">Rotativo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'core_mensalista' %}">Mensalistas</a>
            </div>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link disabled" href="">Ola, </a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="">Login</a>
            </li>
        {% endif %}
    </ul>
{%endblock%}


{% block main %}
<div class="row">
    <div class="col">
        <h2>Lista Mensalistas</h2>

        <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mensalista in mensalistas %}
                    <tr>
                    <th scope="row"><a href="{% url 'core_mensalista_update' mensalista.id %}" > {{ mensalista.id }}</a></th>
                    <td>{{ mensalista.veiculo }}</td>
                    <td>{{ mensalista.inicio }}</td>
                    <td>R$ {{ mensalista.valor_mensal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        <form action="{% url 'core_mensalista-novo' %}" method="POST">
            {% csrf_token %}

            {{ form|bootstrap }}

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

    </div>
</div>
{% endblock %}